2. Open a Markdown cell in your Jupyter Notebook and answer these questions please:
    - Use a markdown numbered list to answer these questions.
    - What is an algorithm?
    - Why is Python considered to be a high-level language?
    - Is Python a Natural or a Formal language?
    - Variable names may not start with certain characters - name two.
    - WHat is a Semantic error?
    - What is the #1 rule of coding / debugging?
    - list 5 Python reserved words.




1. What is an algorithm?

An algorithm is a procedure used for solving a problem

2. Why is python considered to be a high level language?

 Python is known for its ease of readability. Pythonâ€™s syntax is designed to be easy to read and understand resulting in fewer coding steps for developers than imposed by Java or C++

3. Is Python a Natural of a Formal Language?

Python is a formal language. It has strict rules and syntax.

4.  Variable names may not start with certain characters - name two.

Variables may not start with a number. Any symbol except an underscore

5. WHat is a Semantic error?
 Semantic errors are problems with a program that runs without producing error messages but doesn't do the right thing

6. What is the #1 rule of coding / debugging?

Complexity is the enemy of efficiency

7. list 5 Python reserved words:

False, True, if, in, is

8. add and name, a web link for any Python coding article, in your markdown cell

PostgresSQL and Python

https://www.postgresqltutorial.com/postgresql-python/

3. Open a code cell in your Jupyter Notebook and write the following code:
    - Write a multi-line comment with your name, favorite food, and dream job on 3 different lines.
    - assign 5 different data types to 5 different variables. At least one datatype must be a string.
    - print the length of your string.
    - print the the index value of the 4th character in your string.
    - create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"
    - return a range of characters that slices the above string from the beginning of  "ing" up to before "and"
    - Replace "Awesome" with "great" in the string
    - Test and print the savvy string to see it contains "Python"
    - Create and assign 3 more variables called name, age and length using the multi-variable  naming method.
    - Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... 
            "Hi my name is (name), I am so (tall) and (so) old today.
    - print 'miniBio'
    - cast and print the age variable to a float.

In [20]:
# Name: Amanzi Umoya
# Favorite food: Smoothies
# Dream Job: owner of tech company that makes smart houses that create and use energy effectively like the earth ships but for all climates
#   Here is an example:  https://www.earthshipglobal.com/we-build-earthships 
#



a = "Hello Savvy Coders Teaching Staff"
b = 43
c = 4.3
d = [43, "Forty three", 0]
e = "bacon", "mayo", "tomato", "gluten-free bread", "lettuce"


print(len(a))
print(a[4])

savvy = "Learning Data Analytics and Python is Awesome!"

savvy[5:23]

print(savvy.replace("Awesome", "Great"))

name, age, length = "Amanzi", 41, "1.8288 meters"


miniBio = "Hi my name is {} , I am {} tall and  {} old today."
print(miniBio.format(name, length, age))

age = int(41)
print(float(age))

33
o
Learning Data Analytics and Python is Great!
Hi my name is Amanzi , I am 1.8288 meters tall and  41 old today.
41.0