In [1]:
import requests
import pandas as pd
import json

In [ ]:
baseurl = 'https://rickandmortyapi.com/api/'

endpoint = 'character'

r = requests.get(baseurl + endpoint)

data = r.json()

print(data)


# print(data['results'][0]['name'])
# print(data['results'][1]['name'])
# print(data['results'][2]['name'])

#results is the key, the value is a list of dictionaries
#there are 20 objects in the list

#print(len(data['results']))
#prints out the number of objects -- useful when you do not know how many objects there are


#print(type(data['results']))
# verify data type of results is a list

#need to use range to create a iterable. length is not iterable, but a range is
#print(range(len(data['results'])))

#for x in range(len(data['results'])):
#    print(x)
#   prints the index of the object in the list

#    #print(data['results'][x]['name'])
#    prints the name value of each object

In [2]:
df_all = pd.read_csv("HappinessWH.csv")

#need pandas .copy function to create an unchanging version of the original
df_cities = df_all.copy()
#df.info()

#df.drop(['Overall Rank', 'Total Score', 'Emotional & Physical Well-Being','Income & Employment', 'Community & Environment'], axis=1)
df_cities.drop(df_cities.columns[[0, 2, 3,4,5]], axis=1, inplace=True)

#print(df_all)

#df = df.style.hide_index()

#cities = df.values.tolist()

#print(type(df))
hplist = df_cities['City'].tolist()
print(hplist)
# updated_list = []
# for x in range(len(hplist)):
    
# #      #     list[0][:-4]  
# #     updated_list.append(x) 
#     updated_list.append(hplist[x][:-4])

# print(updated_list)
#updated list is the list of cities

['Fremont, CA', 'Columbia, MD', 'San Francisco, CA', 'San Jose, CA', 'Irvine, CA', 'Madison, WI', 'Seattle, WA', 'Overland Park, KS', 'Huntington Beach, CA', 'San Diego, CA', 'Fargo, ND', 'Minneapolis, MN', 'Bismarck, ND', 'Santa Rosa, CA', 'Santa Clarita, CA', 'Oakland, CA', 'Sioux Falls, SD', 'Glendale, CA', 'Scottsdale, AZ', 'Anaheim, CA', 'Aurora, IL', 'Plano, TX', 'Oxnard, CA', 'Garden Grove, CA', 'Chula Vista, CA', 'Charleston, SC', 'Raleigh, NC', 'Honolulu, HI', 'Cedar Rapids, IA', 'Austin, TX', 'Portland, ME', 'Pearl City, HI', 'Oceanside, CA', 'Gilbert, AZ', 'Lincoln, NE', 'Boston, MA', 'South Burlington, VT', 'Santa Ana, CA', 'Pembroke Pines, FL', 'Burlington, VT', 'Portland, OR', 'Aurora, CO', 'Jersey City, NJ', 'Yonkers, NY', 'Chandler, AZ', 'St. Paul, MN', 'Omaha, NE', 'Juneau, AK', 'Sacramento, CA', 'Cheyenne, WY', 'Virginia Beach, VA', 'Peoria, AZ', 'Tempe, AZ', 'Los Angeles, CA', 'Salt Lake City, UT', 'Chicago, IL', 'Denver, CO', 'New York, NY', 'Anchorage, AK', 'Long Beach, CA', 'Nashua, NH', 'Boise, ID', 'Cape Coral, FL', 'Colorado Springs, CO', 'Pittsburgh, PA', 'Fort Lauderdale, FL', 'Charlotte, NC', 'Bridgeport, CT', 'Chesapeake, VA', 'Warwick, RI', 'Rancho Cucamonga, CA', 'Rapid City, SD', 'Missoula, MT', 'Durham, NC', 'Miami, FL', 'Des Moines, IA', 'Columbia, SC', 'Reno, NV', 'Casper, WY', 'Tampa, FL', 'West Valley City, UT', 'Tacoma, WA', 'Grand Prairie, TX', 'Vancouver, WA', 'Washington, DC', 'Port St. Lucie, FL', 'Mesa, AZ', 'Providence, RI', 'Irving, TX', 'Manchester, NH', 'Orlando, FL', 'Grand Rapids, MI', 'Atlanta, GA', 'Hialeah, FL', 'Tallahassee, FL', 'Ontario, CA', 'Garland, TX', 'Henderson, NV', 'Fontana, CA', 'St. Petersburg, FL', 'Modesto, CA', 'Moreno Valley, CA', 'Fort Worth, TX', 'Riverside, CA', 'Billings, MT', 'Spokane, WA', 'Arlington, TX', 'Glendale, AZ', 'Nashville, TN', 'Worcester, MA', 'Dallas, TX', 'Houston, TX', 'Norfolk, VA', 'Milwaukee, WI', 'Laredo, TX', 'Wilmington, DE', 'Tucson, AZ', 'New Haven, CT', 'Phoenix, AZ', 'El Paso, TX', 'Albuquerque, NM', 'Stockton, CA', 'Fresno, CA', 'Nampa, ID', 'Brownsville, TX', 'Bakersfield, CA', 'Jacksonville, FL', 'Las Cruces, NM', 'Winston-Salem, NC', 'San Antonio, TX', 'Rochester, NY', 'Newark, NJ', 'Las Vegas, NV', 'Columbus, OH', 'North Las Vegas, NV', 'Buffalo, NY', 'Greensboro, NC', 'Lexington-Fayette, KY', 'Corpus Christi, TX', 'Huntsville, AL', 'Philadelphia, PA', 'Wichita, KS', 'Amarillo, TX', 'Lewiston, ME', 'Salem, OR', 'Newport News, VA', 'New Orleans, LA', 'Oklahoma City, OK', 'Baltimore, MD', 'Richmond, VA', 'Dover, DE', 'Kansas City, MO', 'San Bernardino, CA', 'Cincinnati, OH', 'Fort Wayne, IN', 'Springfield, MO', 'Lubbock, TX', 'Baton Rouge, LA', 'Louisville, KY', 'Indianapolis, IN', 'St. Louis, MO', 'Tulsa, OK', 'Little Rock, AR', 'Knoxville, TN', 'Akron, OH', 'Chattanooga, TN', 'Columbus, GA', 'Fayetteville, NC', 'Jackson, MS', 'Birmingham, AL', 'Toledo, OH', 'Charleston, WV', 'Shreveport, LA', 'Mobile, AL', 'Fort Smith, AR', 'Augusta, GA', 'Cleveland, OH', 'Montgomery, AL', 'Huntington, WV', 'Memphis, TN', 'Gulfport, MS', 'Detroit, MI']

In [ ]:
url = "https://zylalabs.com/api/226/cities+cost+of+living+and+average+prices+api/232/get+cities"
    
headers = {
    'Authorization': 'Bearer 326|qySQCd3uZ7I39Bh8v1680nDrxjlB0liuk1zvdCXv'
}
    
r = requests.request("GET", url, headers=headers).json()


data = r
#print(r['cities'][0])
#print(response.text)
# if (response_data['cities'][0]['city_name']) == "Herat":
#     print("Herat is in the list")
print(r)

In [6]:
#happiness cities

# for x in range(len(data)):
for hwlist in hplist:
        print(hwlist)

    
#         #print(cities)
#     if data['cities'][x]['country_name'] == "Bahamas":
            
#             print(data['cities'][x]['city_name'])
#     else:
#         print(x)

Fremont, CA
Columbia, MD
San Francisco, CA
San Jose, CA
Irvine, CA
Madison, WI
Seattle, WA
Overland Park, KS
Huntington Beach, CA
San Diego, CA
Fargo, ND
Minneapolis, MN
Bismarck, ND
Santa Rosa, CA
Santa Clarita, CA
Oakland, CA
Sioux Falls, SD
Glendale, CA
Scottsdale, AZ
Anaheim, CA
Aurora, IL
Plano, TX
Oxnard, CA
Garden Grove, CA
Chula Vista, CA
Charleston, SC
Raleigh, NC
Honolulu, HI
Cedar Rapids, IA
Austin, TX
Portland, ME
Pearl City, HI
Oceanside, CA
Gilbert, AZ
Lincoln, NE
Boston, MA
South Burlington, VT
Santa Ana, CA
Pembroke Pines, FL
Burlington, VT
Portland, OR
Aurora, CO
Jersey City, NJ
Yonkers, NY
Chandler, AZ
St. Paul, MN
Omaha, NE
Juneau, AK
Sacramento, CA
Cheyenne, WY
Virginia Beach, VA
Peoria, AZ
Tempe, AZ
Los Angeles, CA
Salt Lake City, UT
Chicago, IL
Denver, CO
New York, NY
Anchorage, AK
Long Beach, CA
Nashua, NH
Boise, ID
Cape Coral, FL
Colorado Springs, CO
Pittsburgh, PA
Fort Lauderdale, FL
Charlotte, NC
Bridgeport, CT
Chesapeake, VA
Warwick, RI
Rancho Cucamonga, CA
Rapid City, SD
Missoula, MT
Durham, NC
Miami, FL
Des Moines, IA
Columbia, SC
Reno, NV
Casper, WY
Tampa, FL
West Valley City, UT
Tacoma, WA
Grand Prairie, TX
Vancouver, WA
Washington, DC
Port St. Lucie, FL
Mesa, AZ
Providence, RI
Irving, TX
Manchester, NH
Orlando, FL
Grand Rapids, MI
Atlanta, GA
Hialeah, FL
Tallahassee, FL
Ontario, CA
Garland, TX
Henderson, NV
Fontana, CA
St. Petersburg, FL
Modesto, CA
Moreno Valley, CA
Fort Worth, TX
Riverside, CA
Billings, MT
Spokane, WA
Arlington, TX
Glendale, AZ
Nashville, TN
Worcester, MA
Dallas, TX
Houston, TX
Norfolk, VA
Milwaukee, WI
Laredo, TX
Wilmington, DE
Tucson, AZ
New Haven, CT
Phoenix, AZ
El Paso, TX
Albuquerque, NM
Stockton, CA
Fresno, CA
Nampa, ID
Brownsville, TX
Bakersfield, CA
Jacksonville, FL
Las Cruces, NM
Winston-Salem, NC
San Antonio, TX
Rochester, NY
Newark, NJ
Las Vegas, NV
Columbus, OH
North Las Vegas, NV
Buffalo, NY
Greensboro, NC
Lexington-Fayette, KY
Corpus Christi, TX
Huntsville, AL
Philadelphia, PA
Wichita, KS
Amarillo, TX
Lewiston, ME
Salem, OR
Newport News, VA
New Orleans, LA
Oklahoma City, OK
Baltimore, MD
Richmond, VA
Dover, DE
Kansas City, MO
San Bernardino, CA
Cincinnati, OH
Fort Wayne, IN
Springfield, MO
Lubbock, TX
Baton Rouge, LA
Louisville, KY
Indianapolis, IN
St. Louis, MO
Tulsa, OK
Little Rock, AR
Knoxville, TN
Akron, OH
Chattanooga, TN
Columbus, GA
Fayetteville, NC
Jackson, MS
Birmingham, AL
Toledo, OH
Charleston, WV
Shreveport, LA
Mobile, AL
Fort Smith, AR
Augusta, GA
Cleveland, OH
Montgomery, AL
Huntington, WV
Memphis, TN
Gulfport, MS
Detroit, MI

In [7]:
#Cost of living Cities

#compare the list of HWcites to cost of living cities
#if CL city is inside of HWcities append to matching cities
#then do length of matching cities list
#cities that are in both happiness list and api cities 

matching_cities = []

for x in range(len(data['cities'])):
    
  if data['cities'][x]['country_name'] == "United States":
            
    current_city = (data['cities'][x]['city_name'] + ", " + data['cities'][x]['state_code'])

    if current_city in hplist:
      
      matching_cities.append(current_city)
      
print(len(matching_cities))

#print(response.text)
# if (response_data['cities'][0]['city_name']) == "Herat":
#     print("Herat is in the list")

166

In [8]:
for x in range(len(data['cities'])):
    if data['cities'][x]['city_name'] == 'Albany':
        print(data['cities'][x]['state_code'])
        print(data['cities'][x]['city_id'])
        print(' ')

None
45

GA
2293

NY
2294

OR
2295

In [9]:
#compare matching cities with HWcities and make a list of missing cities

missing_cities = []

for x in hplist:
    if x not in matching_cities:
    #if matching_cities.count(x) == 0:
        missing_cities.append(x)

print(missing_cities)

['Chula Vista, CA', 'Gilbert, AZ', 'South Burlington, VT', 'St. Paul, MN', 'Cape Coral, FL', 'Bridgeport, CT', 'Warwick, RI', 'West Valley City, UT', 'Grand Prairie, TX', 'Ontario, CA', 'Moreno Valley, CA', 'Glendale, AZ', 'Nampa, ID', 'North Las Vegas, NV', 'Lexington-Fayette, KY', 'Kansas City, MO']

In [14]:
url = "https://zylalabs.com/api/226/cities+cost+of+living+and+average+prices+api/233/get+prices?city_name=athens&country_name=greece"
    
headers = {
    'Authorization': 'Bearer 326|qySQCd3uZ7I39Bh8v1680nDrxjlB0liuk1zvdCXv'
}
    
response = requests.request("GET", url, headers=headers)
    
# print(response.text)

#df = pd.DataFrame(response.json(), index=[54])

print(response)

<Response [200]>

In [ ]:
#remove the missing cities from the

In [19]:
url = "https://zylalabs.com/api/226/cities+cost+of+living+and+average+prices+api/233/get+prices?city_id=2294&city_name=albany&state_code=NY&country_name=united+states"
    
headers = {
    'Authorization': 'Bearer 326|qySQCd3uZ7I39Bh8v1680nDrxjlB0liuk1zvdCXv'
}
    
response = requests.request("GET", url, headers=headers).json()
    
print(response)

{'city_id': 2293, 'city_name': 'Albany', 'state_code': 'GA', 'country_name': 'United States', 'exchange_rate': {'EUR': 0.9641249120236018, 'AUD': 1.4970401365200876, 'USD': 1, 'CAD': 1.3441251048485843, 'CNY': 7.205101184909517, 'CZK': 23.476015464563588, 'DKK': 7.170099594103413, 'GBP': 0.8286701825088458, 'HKD': 7.820719044359387, 'JPY': 138.2164846077458, 'NZD': 1.6113843869611748, 'NOK': 9.949329451123688, 'RUB': 60.814997927131444, 'KRW': 1341.0302098899933, 'CHF': 0.9457197674530712, 'UAH': 37.08369664773768, 'SEK': 10.458629400025067}, 'exchange_rates_updated': {'date': '2022-11-28', 'timestamp': 1669618803}, 'prices': [{'good_id': 3, 'item_name': 'International Primary School, Yearly for 1 Child', 'category_id': 2, 'category_name': 'Childcare', 'min': 82080, 'avg': 91200, 'max': 100320, 'usd': {'min': '82080.00', 'avg': '91200.00', 'max': '100320.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 4, 'item_name': 'Private Preschool or Kindergarten, Monthly for 1 Child', 'category_id': 2, 'category_name': 'Childcare', 'min': 500, 'avg': 525, 'max': 550, 'usd': {'min': '500.00', 'avg': '525.00', 'max': '550.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 5, 'item_name': 'Pair of Jeans in a Chain Store Like George, H&M, Zara, etc.', 'category_id': 3, 'category_name': 'Clothing And Shoes', 'min': 20, 'avg': 27.5, 'max': 60, 'usd': {'min': '20.00', 'avg': '27.50', 'max': '60.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 6, 'item_name': 'Pair of Leather Business Shoes', 'category_id': 3, 'category_name': 'Clothing And Shoes', 'min': 32, 'avg': 65, 'max': 150, 'usd': {'min': '32.00', 'avg': '65.00', 'max': '150.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 7, 'item_name': 'Pair of Running Shoes, Mid-Range Price', 'category_id': 3, 'category_name': 'Clothing And Shoes', 'min': 65, 'avg': 71.33, 'max': 80, 'usd': {'min': '65.00', 'avg': '71.33', 'max': '80.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 9, 'item_name': 'Apples, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 9.9, 'avg': 11, 'max': 12.1, 'usd': {'min': '9.90', 'avg': '11.00', 'max': '12.10'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 10, 'item_name': 'Banana, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 1.37, 'avg': 1.52, 'max': 1.67, 'usd': {'min': '1.37', 'avg': '1.52', 'max': '1.67'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 11, 'item_name': 'Beef Round or Equivalent Back Leg Red Meat, 1 kg ', 'category_id': 4, 'category_name': 'Markets', 'min': 5.34, 'avg': 5.93, 'max': 6.52, 'usd': {'min': '5.34', 'avg': '5.93', 'max': '6.52'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 12, 'item_name': 'Bottle of Wine, Mid-Range Price', 'category_id': 4, 'category_name': 'Markets', 'min': 5.99, 'avg': 11.49, 'max': 16.99, 'usd': {'min': '5.99', 'avg': '11.49', 'max': '16.99'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 13, 'item_name': 'Chicken Breasts, Boneless and Skinless, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 5.51, 'avg': 8.26, 'max': 11.01, 'usd': {'min': '5.51', 'avg': '8.26', 'max': '11.01'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 15, 'item_name': 'Eggs, 12 pack', 'category_id': 4, 'category_name': 'Markets', 'min': 2.7, 'avg': 3, 'max': 3.3, 'usd': {'min': '2.70', 'avg': '3.00', 'max': '3.30'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 17, 'item_name': 'Lettuce, 1 head', 'category_id': 4, 'category_name': 'Markets', 'min': 2.24, 'avg': 2.49, 'max': 2.74, 'usd': {'min': '2.24', 'avg': '2.49', 'max': '2.74'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 18, 'item_name': 'Loaf of Fresh White Bread, 0.5 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 1.98, 'avg': 2.2, 'max': 2.42, 'usd': {'min': '1.98', 'avg': '2.20', 'max': '2.42'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 19, 'item_name': 'Local Cheese, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 15.88, 'avg': 17.64, 'max': 19.4, 'usd': {'min': '15.88', 'avg': '17.64', 'max': '19.40'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 20, 'item_name': 'Milk, Regular,1 liter', 'category_id': 4, 'category_name': 'Markets', 'min': 0.9, 'avg': 0.95, 'max': 1.06, 'usd': {'min': '0.90', 'avg': '0.95', 'max': '1.06'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 22, 'item_name': 'Oranges, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 11.89, 'avg': 13.21, 'max': 14.53, 'usd': {'min': '11.89', 'avg': '13.21', 'max': '14.53'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 23, 'item_name': 'Pack of Cigarettes', 'category_id': 4, 'category_name': 'Markets', 'min': 5.3, 'avg': 5.89, 'max': 6.48, 'usd': {'min': '5.30', 'avg': '5.89', 'max': '6.48'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 25, 'item_name': 'White Rice, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 5.93, 'avg': 6.59, 'max': 7.25, 'usd': {'min': '5.93', 'avg': '6.59', 'max': '7.25'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 26, 'item_name': 'Tomato, 1 kg', 'category_id': 4, 'category_name': 'Markets', 'min': 1.98, 'avg': 2.2, 'max': 2.42, 'usd': {'min': '1.98', 'avg': '2.20', 'max': '2.42'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 27, 'item_name': 'Water, 1.5 liter Bottle', 'category_id': 4, 'category_name': 'Markets', 'min': 3.59, 'avg': 3.99, 'max': 4.39, 'usd': {'min': '3.59', 'avg': '3.99', 'max': '4.39'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 28, 'item_name': 'One bedroom apartment outside of city centre', 'category_id': 5, 'category_name': 'Rent Per Month', 'min': 315, 'avg': 350, 'max': 385, 'usd': {'min': '315.00', 'avg': '350.00', 'max': '385.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 29, 'item_name': 'One bedroom apartment in city centre', 'category_id': 5, 'category_name': 'Rent Per Month', 'min': 400, 'avg': 458.33, 'max': 575, 'usd': {'min': '400.00', 'avg': '458.33', 'max': '575.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 30, 'item_name': 'Three bedroom apartment outside of city centre', 'category_id': 5, 'category_name': 'Rent Per Month', 'min': 650, 'avg': 675, 'max': 700, 'usd': {'min': '650.00', 'avg': '675.00', 'max': '700.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 31, 'item_name': 'Three bedroom apartment in city centre', 'category_id': 5, 'category_name': 'Rent Per Month', 'min': 850, 'avg': 875, 'max': 900, 'usd': {'min': '850.00', 'avg': '875.00', 'max': '900.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 32, 'item_name': 'Cappuccino', 'category_id': 6, 'category_name': 'Restaurants', 'min': 2.5, 'avg': 4.25, 'max': 6, 'usd': {'min': '2.50', 'avg': '4.25', 'max': '6.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 33, 'item_name': 'Coca-Cola, 0.33 liter Bottle', 'category_id': 6, 'category_name': 'Restaurants', 'min': 1.7, 'avg': 1.9, 'max': 2.25, 'usd': {'min': '1.70', 'avg': '1.90', 'max': '2.25'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 34, 'item_name': 'Domestic Beer, 0.5 liter Draught', 'category_id': 6, 'category_name': 'Restaurants', 'min': 3.5, 'avg': 5, 'max': 13, 'usd': {'min': '3.50', 'avg': '5.00', 'max': '13.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 35, 'item_name': 'Imported Beer, 0.33 liter Bottle', 'category_id': 6, 'category_name': 'Restaurants', 'min': 4.5, 'avg': 5, 'max': 5.5, 'usd': {'min': '4.50', 'avg': '5.00', 'max': '5.50'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 36, 'item_name': 'McMeal at McDonalds or Alternative Combo Meal', 'category_id': 6, 'category_name': 'Restaurants', 'min': 7, 'avg': 8, 'max': 9, 'usd': {'min': '7.00', 'avg': '8.00', 'max': '9.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 37, 'item_name': 'Meal for 2 People, Mid-range Restaurant, Three-course', 'category_id': 6, 'category_name': 'Restaurants', 'min': 30, 'avg': 39, 'max': 100, 'usd': {'min': '30.00', 'avg': '39.00', 'max': '100.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 38, 'item_name': 'Meal in Inexpensive Restaurant', 'category_id': 6, 'category_name': 'Restaurants', 'min': 9, 'avg': 10, 'max': 11, 'usd': {'min': '9.00', 'avg': '10.00', 'max': '11.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 40, 'item_name': 'Average Monthly Net Salary, After Tax', 'category_id': 7, 'category_name': 'Salaries And Financing', 'min': 2089.8, 'avg': 2322, 'max': 2554.2, 'usd': {'min': '2089.80', 'avg': '2322.00', 'max': '2554.20'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 42, 'item_name': 'Cinema ticket, 1 Seat', 'category_id': 8, 'category_name': 'Sports And Leisure', 'min': 7.5, 'avg': 10, 'max': 20, 'usd': {'min': '7.50', 'avg': '10.00', 'max': '20.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 43, 'item_name': 'Fitness Club, Monthly Fee for 1 Adult', 'category_id': 8, 'category_name': 'Sports And Leisure', 'min': 19.99, 'avg': 36.66, 'max': 60, 'usd': {'min': '19.99', 'avg': '36.66', 'max': '60.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 45, 'item_name': 'Gasoline, 1 liter', 'category_id': 9, 'category_name': 'Transportation', 'min': 0.43, 'avg': 0.54, 'max': 0.74, 'usd': {'min': '0.43', 'avg': '0.54', 'max': '0.74'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 46, 'item_name': 'Monthly Pass, Regular Price', 'category_id': 9, 'category_name': 'Transportation', 'min': 31.5, 'avg': 35, 'max': 38.5, 'usd': {'min': '31.50', 'avg': '35.00', 'max': '38.50'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 47, 'item_name': 'One-way Ticket, Local Transport', 'category_id': 9, 'category_name': 'Transportation', 'min': 1.8, 'avg': 2, 'max': 2.2, 'usd': {'min': '1.80', 'avg': '2.00', 'max': '2.20'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 49, 'item_name': 'Taxi, price for 1 km, Normal Tariff', 'category_id': 9, 'category_name': 'Transportation', 'min': 1.12, 'avg': 1.24, 'max': 1.36, 'usd': {'min': '1.12', 'avg': '1.24', 'max': '1.36'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 50, 'item_name': 'Taxi Start, Normal Tariff', 'category_id': 9, 'category_name': 'Transportation', 'min': 3.6, 'avg': 4, 'max': 4.4, 'usd': {'min': '3.60', 'avg': '4.00', 'max': '4.40'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 52, 'item_name': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)', 'category_id': 9, 'category_name': 'Transportation', 'min': 24000, 'avg': 28000, 'max': 32000, 'usd': {'min': '24000.00', 'avg': '28000.00', 'max': '32000.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 53, 'item_name': 'Prepaid Mobile Tariff Local, price per 1 min, No Discounts or Plans', 'category_id': 10, 'category_name': 'Utilities Per Month', 'min': 0.09, 'avg': 0.1, 'max': 0.11, 'usd': {'min': '0.09', 'avg': '0.10', 'max': '0.11'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 54, 'item_name': 'Basic utilities for 85 square meter Apartment including Electricity, Heating or Cooling, Water and Garbage', 'category_id': 10, 'category_name': 'Utilities Per Month', 'min': 135, 'avg': 196.75, 'max': 400, 'usd': {'min': '135.00', 'avg': '196.75', 'max': '400.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 55, 'item_name': 'Internet, 60 Mbps or More, Unlimited Data, Cable/ADSL', 'category_id': 10, 'category_name': 'Utilities Per Month', 'min': 55, 'avg': 73, 'max': 105.7, 'usd': {'min': '55.00', 'avg': '73.00', 'max': '105.70'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 58, 'item_name': 'Water, 0.33 liter Bottle', 'category_id': 4, 'category_name': 'Markets', 'min': 1, 'avg': 1.5, 'max': 2, 'usd': {'min': '1.00', 'avg': '1.50', 'max': '2.00'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 64, 'item_name': 'Summer Dress in a Chain Store Like George, H&M, Zara, etc.', 'category_id': 3, 'category_name': 'Clothing And Shoes', 'min': 13.5, 'avg': 15, 'max': 16.5, 'usd': {'min': '13.50', 'avg': '15.00', 'max': '16.50'}, 'measure': 'money', 'currency_code': 'USD'}, {'good_id': 65, 'item_name': 'Mortgage Interest Rate in Percentages for 20 Years Fixed-Rate, Yearly, Fixed-Rate', 'category_id': 7, 'category_name': 'Salaries And Financing', 'min': 3.71, 'avg': 4.12, 'max': 4.53, 'measure': 'percent'}], 'error': None}

In [22]:
print(response['state_code'])

GA

In [ ]:
print(len(response.json()))

In [ ]:
df_cities['State'] = df_cities['City'].str[-2:]
df_cities['City'] = df_cities['City'].str[:-4]
df_cities

In [44]:
df_cities['City']

0            Fremont
1           Columbia
2      San Francisco
3           San Jose
4             Irvine
           ...
177       Montgomery
178       Huntington
179          Memphis
180         Gulfport
181          Detroit
Name: City, Length: 182, dtype: object

In [53]:
#create empty lists to fill with appended data
api_city = []
api_state = []
cities = []
#more here

#change index values to loop through entire column of cities when ready
for city in df_cities['City']:
    #print(city)
    city_no_spaces = city.replace(" ", "+")
    url = "https://zylalabs.com/api/226/cities+cost+of+living+and+average+prices+api/233/get+prices?city_id=2294&city_name="+city_no_spaces+"&country_name=united+states"
    #print(url)
    headers = {'Authorization': 'Bearer 326|qySQCd3uZ7I39Bh8v1680nDrxjlB0liuk1zvdCXv'}
                
    response = requests.request("GET", url, headers=headers).json()
    r = response
    # api_city.append(response['city_name'])
    # api_state.append(response['state_code'])
    cities.append(r)
    #pull the cost data here and append to empty lists

In [208]:
#print lists to confirm
print(cities[0]['state_code'])

#add each list to the df_cities data frame
#df['new_column'] = list_name

#print(df_cities)
# df = pd.DataFrame(cities) 

# df 

# saving the dataframe 
#df.to_csv('coldata_full.csv')

CA

In [247]:

for city_object in cities:
    try:
        print(city_object['city_name'])
    except Exception as e:
        print(city_object)
        print(e)

Fremont
Columbia
San Francisco
San Jose
Irvine
Madison
Seattle
Overland Park
Huntington Beach
San Diego
Fargo
Minneapolis
Bismarck
Santa Rosa
Santa Clarita
Oakland
Sioux Falls
Glendale
Scottsdale
Anaheim
Aurora
Plano
Oxnard
Garden Grove
{'response': None, 'message': 'An error occurred, please try again. If the issue persists, please contact hello@zylalabs.com.', 'success': False}
'city_name'
Charleston
Raleigh
Honolulu
Cedar Rapids
Austin
Portland
Pearl City
Oceanside
{'response': None, 'message': 'An error occurred, please try again. If the issue persists, please contact hello@zylalabs.com.', 'success': False}
'city_name'
Lincoln
Boston
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Santa Ana
Pembroke Pines
Burlington
Portland
Aurora
Jersey City
Yonkers
Chandler
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Omaha
Juneau
Sacramento
Cheyenne
Virginia Beach
Peoria
Tempe
Los Angeles
Salt Lake City
Chicago
Denver
New York
Anchorage
Long Beach
Nashua
Boise
{'response': None, 'message': 'An error occurred, please try again. If the issue persists, please contact hello@zylalabs.com.', 'success': False}
'city_name'
Colorado Springs
Pittsburgh
Fort Lauderdale
Charlotte
{'response': None, 'message': 'An error occurred, please try again. If the issue persists, please contact hello@zylalabs.com.', 'success': False}
'city_name'
Chesapeake
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Rancho Cucamonga
Rapid City
Missoula
Durham
Miami
Des Moines
Columbia
Reno
Casper
Tampa
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Tacoma
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Vancouver
Washington
Port St. Lucie
Mesa
Providence
Irving
Manchester
Orlando
Grand Rapids
Atlanta
Hialeah
Tallahassee
{'response': None, 'message': 'An error occurred, please try again. If the issue persists, please contact hello@zylalabs.com.', 'success': False}
'city_name'
Garland
Henderson
Fontana
St. Petersburg
Modesto
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Fort Worth
Riverside
Billings
Spokane
Arlington
Glendale
Nashville
Worcester
Dallas
Houston
Norfolk
Milwaukee
Laredo
Wilmington
Tucson
New Haven
Phoenix
El Paso
Albuquerque
Stockton
Fresno
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Brownsville
Bakersfield
Jacksonville
Las Cruces
Winston-Salem
San Antonio
Rochester
Newark
Las Vegas
Columbus
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Buffalo
Greensboro
{'error': "Couldn't find a city with a given name or id"}
'city_name'
Corpus Christi
Huntsville
Philadelphia
Wichita
Amarillo
Lewiston
Salem
Newport News
New Orleans
Oklahoma City
Baltimore
Richmond
Dover
{'response': None, 'message': 'An error occurred, please try again. If the issue persists, please contact hello@zylalabs.com.', 'success': False}
'city_name'
San Bernardino
Cincinnati
Fort Wayne
Springfield
Lubbock
Baton Rouge
Louisville
Indianapolis
St. Louis
Tulsa
Little Rock
Knoxville
Akron
Chattanooga
Columbus
Fayetteville
Jackson
Birmingham
Toledo
Charleston
Shreveport
Mobile
Fort Smith
Augusta
Cleveland
Montgomery
Huntington
Memphis
Gulfport
Detroit

In [236]:
# import pandas
df_prices = pd.DataFrame(r['prices']) 

# #df_prices.info()
# df_prices.T

#print(df_prices.reset_index(drop=True, inplace=True))

In [253]:
## this is the syntax for creating the dataframe from the dictionary
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html

# columns = ['feature1', 'feature2']
# dict = {'Albany': [42, 12], 'Fremont':[13, 5]}

# df = pd.DataFrame.from_dict(data=dict, orient='index', columns=columns)
# df
#use feature list as the column names in the final dataframe


# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tolist.html
feature_list = df_prices['item_name'].to_list()

['Price per square meter to Buy Apartment Outside of City Center',
 'Price per square meter to Buy Apartment in City Center',
 'International Primary School, Yearly for 1 Child',
 'Private Preschool or Kindergarten, Monthly for 1 Child',
 'Pair of Jeans in a Chain Store Like George, H&M, Zara, etc.',
 'Pair of Leather Business Shoes',
 'Pair of Running Shoes, Mid-Range Price',
 'Apples, 1 kg',
 'Banana, 1 kg',
 'Beef Round or Equivalent Back Leg Red Meat, 1 kg ',
 'Bottle of Wine, Mid-Range Price',
 'Chicken Breasts, Boneless and Skinless, 1 kg',
 'Domestic Beer, 0.5 liter Bottle',
 'Eggs, 12 pack',
 'Lettuce, 1 head',
 'Loaf of Fresh White Bread, 0.5 kg',
 'Local Cheese, 1 kg',
 'Milk, Regular,1 liter',
 'Onion, 1 kg',
 'Oranges, 1 kg',
 'Pack of Cigarettes',
 'Potato, 1 kg',
 'White Rice, 1 kg',
 'Tomato, 1 kg',
 'Water, 1.5 liter Bottle',
 'One bedroom apartment outside of city centre',
 'One bedroom apartment in city centre',
 'Three bedroom apartment outside of city centre',
 'Three bedroom apartment in city centre',
 'Cappuccino',
 'Coca-Cola, 0.33 liter Bottle',
 'Domestic Beer, 0.5 liter Draught',
 'Imported Beer, 0.33 liter Bottle',
 'McMeal at McDonalds or Alternative Combo Meal',
 'Meal for 2 People, Mid-range Restaurant, Three-course',
 'Meal in Inexpensive Restaurant',
 'Average Monthly Net Salary, After Tax',
 'Cinema ticket, 1 Seat',
 'Fitness Club, Monthly Fee for 1 Adult',
 'Tennis Court Rent, 1 Hour on Weekend',
 'Gasoline, 1 liter',
 'Monthly Pass, Regular Price',
 'One-way Ticket, Local Transport',
 'Taxi, price for 1 hour Waiting, Normal Tariff',
 'Taxi, price for 1 km, Normal Tariff',
 'Taxi Start, Normal Tariff',
 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)',
 'Prepaid Mobile Tariff Local, price per 1 min, No Discounts or Plans',
 'Basic utilities for 85 square meter Apartment including Electricity, Heating or Cooling, Water and Garbage',
 'Internet, 60 Mbps or More, Unlimited Data, Cable/ADSL',
 'Water, 0.33 liter Bottle',
 'Summer Dress in a Chain Store Like George, H&M, Zara, etc.',
 'Mortgage Interest Rate in Percentages for 20 Years Fixed-Rate, Yearly, Fixed-Rate',
 'Imported Beer, 0.33 liter Bottle']

In [167]:
#use feature list as the column names in the final dataframe
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tolist.html
feature_list = df_prices['item_name'].to_list()
#feature_list

In [273]:
#city_averages = []
city_avgs_dict = {}

for city_object in cities:

    city_avgs = []
    try:
        city = city_object['city_name']
        price_object = (city_object['prices'])
    except Exception as e:
       continue
        # print(city_object)
        # print(e)
    finally:

#create dataframe of city and average prices of select objects


        for x in range(len(price_object)):
            average = price_object[x]['avg']
            city_avgs.append(average)

            city_avgs_dict[city] = city_avgs
#print(city_averages_dict)

In [276]:


df = pd.DataFrame.from_dict(city_avgs_dict, orient='index', columns=feature_list)



df[["One bedroom apartment outside of city centre", "Three bedroom apartment outside of city centre", 
"Basic utilities for 85 square meter Apartment including Electricity, Heating or Cooling, Water and Garbage", 
"Internet, 60 Mbps or More, Unlimited Data, Cable/ADSL","Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)",]]


df.to_csv('coldata.csv')

In [228]:
#indexing to data I want
#items are organized by item name

#if r['prices'][0]['item_name'] == "Price per square meter to Buy Apartment Outside of City Center":
# print(r['prices'][0]['item_name'])
# print(r['prices'][0]['usd']['avg'])

In [227]:
# single_housing_cost_name = []
# single_housing_cost_avg = []
# family_housing_cost_name = []
# family_housing_cost_avg = []

# # api_state.append(response['state_code'])

# for x in range(len(r['prices'])):
#     if r['prices'][x]['item_name'] == "One bedroom apartment outside of city centre":
#         single_housing_cost_name.append(r['prices'][x]['item_name'])
#     if r['prices'][x]['item_name'] == "One bedroom apartment outside of city centre":
#         single_housing_cost_avg.append(r['prices'][x]['usd']['avg'])
   
#     if r['prices'][x]['item_name'] == "Three bedroom apartment outside of city centre":
#         family_housing_cost_name.append(r['prices'][x]['item_name'])
   
#     if r['prices'][x]['item_name'] == "Three bedroom apartment outside of city centre":
#         family_housing_cost_avg.append(r['prices'][x]['usd']['avg'])

# print(single_housing_cost_name)
# print(single_housing_cost_avg)
# print(family_housing_cost_name)
# print(family_housing_cost_avg)

In [226]:
# columns = ['one bedroom', 'two befroom', 'bananas', 'meat']
# city_list = ['albany', 'fremont', 'dallas']

# for x in city_list: